backend:
  name: github
  repo: alainord/ReceiptApp
  branch: main
  

media_folder: "images"
public_folder: "/images"

collections:
  - name: "recipes"
    label: "Recipes"
    folder: "recipes"
    create: true
    slug: "{{slug}}"
    format: "frontmatter"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Short Description", name: "description", widget: "string" }
      - { label: "Image", name: "image", widget: "image", required: false }
      - { label: "Ingredients", name: "ingredients", widget: "list", field: {label: "Ingredient", name: "item", widget: "string"} }
      - { label: "Steps", name: "steps", widget: "list", field: {label: "Step", name: "item", widget: "text"} }
      - { label: "Tag", name: "tag", widget: "string", required: false }
